* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s;
}

#paragraph1 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

#situationParagraph {
  color: white;
  font-size: 30px;
}

#paragraph3 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

#choice1 {
  font-size: 25px;
  border-radius: 5px;
}

#choice2 {
  font-size: 25px;
  border-radius: 5px;
}

body {
  background: #111;
  min-width: 1250px;
}

header {
  background: url('imgs/spookyhouse.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  border: 5px groove silver;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

header div {
  position: relative;
  top: 25px;
  left: 25px;
}

/*header div nav {
  border: 1px solid red;
}*/

header h1 {
  font-family: 'Creepster', cursive;
  font-size: 3.3em;
  color: rgb(102, 6, 6);
  margin-bottom: 20px;
}

header nav {
  display: block;
  padding: 0;
  margin: 0;
}

header ul {
  display: inline;
  padding: 0;
}


header ul li {
  display: inline;
  color: white;
  /*background: rgba(1, 25, 16, .95);*/
  background: #777;
  opacity: .7;
  color: black;
  border: 2px solid black;
  border-radius: 10%;
  padding: 15px;
  margin: 10px;
}

/*header ul li:active, header ul li:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

header ul li:focus, header ul li:focus {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}*/


li a {
  color: white;
  text-decoration: none;
}

 /*li:hover {
   background-color: maroon;
   color: black;
   duration: 200ms;
   animation-name: levitate;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   -webkit-animation: levitate 1s linear infinite alternate;
 }*/

 /*a:hover {
   background-color: maroon;
   color: black;
   duration: 200ms;
 }

 @-webkit-keyframes levitate {
   from {
     transform: translateY(6.9px);
   }
   to {
     background: yellow;
   }
 }

 @keyframes levitate {
   from {
     transform: translateY(6.9px);
   }
   to {
     background: yellow;
   }
 }*/

 #index {
   background-image: url('imgs/raininghouse.gif');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 90%;
   margin: 2% auto;
   border-radius: 25px;
   border: 5px groove silver;
   height: 500px;
 }

 #index p {
   margin: 15px;
   color: white;
   font-size: 30px;
   background-color: rgba(0,0,0,.5);
   border-radius: 25px;
   padding: 15px;
 }

#gameContainer {
  background: #003252;
  width: 90%;
  margin: 2% auto;
  border-radius: 25px;
  border: 5px groove silver;
  height: auto;
}

#about {
  background-image: url('imgs/window.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: 90%;
  margin: 2% auto;
  border-radius: 25px;
  border: 5px groove silver;
  height: auto;
}

.team div {
  background-image: url('imgs/hdprofile-board1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 98%;
  height: 210px;
}

.team img {
  display: inline;
  border-style: 1px solid black;
  border-radius: 50%;
  position: relative;
  top: 3%;
  margin: 0 5%;
}

.profile {
  display: inline-block;
  width: 60%;
  position: relative;
  bottom: 15%;
}

.profile p {
  display: inline;
}

.profile span {
  display: block;
  font-family: 'Creepster', cursive;
  font-size: 3em;
  color: rgb(15, 148, 3);
}

#Maddy {
  transform:rotate(-1deg);
  border-radius: 10px;
  border: 1px groove black;
  margin: .5%;
}

button {
  border: none;
  padding: 5px 15px;
  background: #1C95E0;
  color: white;
  border-radius: 3px;
  font-size: 10px;
  margin: 12px 12px 12px 12px;
  transition: 350ms all;
  cursor: pointer;
}

#Rachael {
  transform:rotate(-5deg);
  border-radius: 10px;
  border: 5px groove black;
  margin-top: 3%;
}

#Aaron {
  transform:rotate(4deg);
  border-radius: 10px;
  border: 5px groove black;
  margin-top: 20%;
}

#Frederick {
  transform:rotate(-1deg);
  border-radius: 10px;
  border: 5px groove black;
  margin-top: 4%;
}

#Frederick a {
  color: rgb(7, 136, 164);
  font-weight: bold;
}

#Isaiah {
  transform:rotate(2deg);
  border-radius: 10px;
  border: 5px groove black;
  margin-top: 3%;
  margin-bottom: 2%;
}

/*#storyContainer {
  background: #ddd;
  width: 70%;
  height: 380px;
  margin: 10px auto;
  border-radius: 25%;
  border: 3px outset silver;
}*/

/*#comm {
  position: absolute;
  left: 10%;
  top: 500px;
}*/

#gameContainer p {
  font-family: 'Indie Flower', cursive;
  color: black;
  width: 60%;
  margin: 25px auto;
  display: block;
  position: relative;
  bottom: 370px;
  left: 170px;
}

#gameContainer button {
  display: block;
  margin: 50px auto;
  width: 400px;
}

#gameContainer button:hover {
  background: purple;
}

#txt0 {
  margin-left: 1.5%;
}

#textDiv span{
  margin-bottom: 3%;
  display: inline-block;
  position:relative;
  top:20px;
  visibility:hidden;
  font-size: 57px;
  -webkit-font-smoothing:antialiased;
}
